<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <title>Document</title>
</head>
<body>
    <main class="chat-main" style="border: 1000px;">
        <div class="chat-room">
            <h3>Chat Room</h3>
        </div>
        <div class="chat-box">
            <div class="chat-messages"></div>

        </div>
    </main>
        <div class="chat-form-container">
            <form id="chat-form">
                <input
                id="msg"
                type="text"
                placeholder="Enter Message"
                />
                <button class="btn">Send</button>
            </form>
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="./public/main.js"></script>
</body>
</html>