<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-floating">
        <textarea class="form-control" placeholder="" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
    </div>
    <main class="chat-main" style="border: 1000px;">
        <div class="chat-sidebar">
            <h3>Chat Room</h3>
            <h2 id="room-name"></h2>
            <ul id="users"></ul>
        </div>
        <div class="chat-messages"></div>
    </main>
        <div class="chat-form-container">
            <form id="chat-form">
                <input
                id="msg"
                type="text"
                placeholder="Enter Message"
                required
                autocomplete="off"
                />
                <button class="btn">Send</button>
            </form>
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="./public/main.js"></script>
</body>
</html>