    <%- include('partials/head', {title: 'Home'}) %>
    <%- include('partials/navbar') %>
    <h1 class='text-center' style="font-family: 'Bangers'; font-size: 75px; color: #800000;">Jalan-Jalan Ngab!</h1>
    <h3 class='text-center' style="font-family: 'verdana'; font-size: 25px;" ><i>Ngoding mulu! Kapan jalan-jalannya? </i></h3>
</body>
</html>