<%- include('partials/head', {title: 'Login'}) %>
    <%- include('partials/navbar') %>
    <form method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username" placeholder="Your Username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Your Password" required>
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
              Must be 6-12 characters long.
            </span>
          </div> <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button onclick="location.href='/register'" class="btn btn-primary">Sign Up</button>
      </form>
</body>
</html>